extends layout

block contenido
    .contenido-principal
        h1 #{nombrePagina} - #{contacto.nombre}


        ul#contactos.proyectos 
            if(contactos.length)
                each contacto in contactos
                    li Nombre
                        a(href=`/contactos/${contacto.url}`)= contacto.nombre
                    li Apellido Paterno
                        p= contacto.apellidoPaterno
                    li Apellido Materno 
                        p= contacto.apellidoMaterno
                    li Número de Telefono 
                        p= contacto.telefono 
                    li Correo Electronico
                        p= contacto.correo    


                .contenedor-acciones
                    a(href=`/contacto/editar/${contacto.id}` class="boton editar") Editar Contacto
                    button#eliminar-contacto(data-contacto-url=contacto.url type="button" class="boton eliminar") Eliminar Contacto 